<style>
     
    

    /* Estilos para el formulario */
#contact {
  width: 400px;
  margin: 0 auto;
}

/* Estilos para los campos de entrada */
.mat-form-field {
  display: block;
  margin-bottom: 16px;
}

/* Estilos para los botones */
button {
  margin-right: 8px;
}

  </style>
 
 <div id="contact">
    <h2>Crear Cliente</h2>
    <form>
      <mat-form-field class="form-field" >
        <mat-label>Cedula:</mat-label>
        <input matInput type="text" name="cedula" placeholder="Cedula..." [(ngModel)]="persona.cedula">
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Nombre:</mat-label>
        <input matInput type="text" name="nombre" placeholder="Nombre..." [(ngModel)]="persona.nombre">
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Direccion:</mat-label>
        <input matInput type="text" name="direccion" placeholder="Direccion..." [(ngModel)]="persona.direccion">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Telefono:</mat-label>
        <input matInput type="text" name="telefono" placeholder="Telefono..." [(ngModel)]="persona.telefono">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="guardar()">Crear</button>
    </form>
  </div>